/****** Object:  Table [dbo].[USUARIOS]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Id] [int] NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[ContrasenaLimpia] [nvarchar](255) NOT NULL,
	[ContrasenaEncriptada] [varbinary](max) NOT NULL,
	[Salt] [nvarchar](255) NOT NULL,
	[TipoUsuario] [nvarchar](20) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL_USUARIO]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL_USUARIO](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FotoPerfil] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADOPTANTES]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADOPTANTES](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[TipoVivienda] [nvarchar](100) NULL,
	[TieneJardin] [bit] NOT NULL,
	[OtrosAnimales] [bit] NOT NULL,
	[RecursosDisponibles] [nvarchar](255) NULL,
	[TiempoEnCasa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_AdoptantePerfil]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_AdoptantePerfil] AS
SELECT 
    U.Id AS IdUsuario,
    U.NombreUsuario,
    U.Email,
    P.FotoPerfil,
    P.Descripcion,
    A.Nombre,
    A.TipoVivienda,
    A.TieneJardin,
    A.OtrosAnimales,
    A.RecursosDisponibles,
    A.TiempoEnCasa
FROM USUARIOS U
JOIN PERFIL_USUARIO P ON U.Id = P.IdUsuario
JOIN ADOPTANTES A ON U.Id = A.IdUsuario
WHERE U.TipoUsuario = 'Adoptante';
GO
/****** Object:  Table [dbo].[REFUGIOS]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFUGIOS](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[NombreRefugio] [nvarchar](255) NOT NULL,
	[ContactoRefugio] [nvarchar](255) NOT NULL,
	[CantidadAnimales] [int] NOT NULL,
	[CapacidadMaxima] [int] NOT NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_RefugioPerfil]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_RefugioPerfil] AS
SELECT 
    U.Id AS IdUsuario,
    U.NombreUsuario,
    U.Email,
    P.FotoPerfil,
    P.Descripcion,
    R.NombreRefugio,
    R.ContactoRefugio,
    R.CantidadAnimales,
    R.CapacidadMaxima,
    R.Latitud,
	R.Longitud
FROM USUARIOS U
JOIN PERFIL_USUARIO P ON U.Id = P.IdUsuario
JOIN REFUGIOS R ON U.Id = R.IdUsuario
WHERE U.TipoUsuario = 'Refugio';
GO
/****** Object:  Table [dbo].[MASCOTAS]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTAS](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Especie] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Tamano] [nvarchar](50) NOT NULL,
	[Sexo] [nvarchar](20) NULL,
	[Castrado] [bit] NOT NULL,
	[Vacunado] [bit] NOT NULL,
	[Desparasitado] [bit] NOT NULL,
	[Sano] [bit] NOT NULL,
	[Microchip] [bit] NOT NULL,
	[CompatibleConNinos] [bit] NOT NULL,
	[CompatibleConAdultos] [bit] NOT NULL,
	[CompatibleConOtrosAnimales] [bit] NOT NULL,
	[Personalidad] [nvarchar](max) NULL,
	[Descripcion] [text] NULL,
	[Estado] [nvarchar](50) NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
	[IdRefugio] [int] NULL,
	[Foto] [nvarchar](255) NULL,
	[Vistas] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITOS]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITOS](
	[Id] [int] NOT NULL,
	[IdAdoptante] [int] NOT NULL,
	[IdMascota] [int] NOT NULL,
	[FechaAgregado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MascotasFavoritas]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_MascotasFavoritas]
AS
SELECT 
	m.Id,
	m.Nombre,
	m.Especie,
	DATEDIFF(MONTH, m.FechaNacimiento, GETDATE()) AS Edad,
	m.Tamano,
	m.Sexo,
	m.Foto,
	f.IdAdoptante,
	f.FechaAgregado
FROM
 MASCOTAS m
 INNER JOIN
 FAVORITOS f on m.Id = f.IdMascota
GO
/****** Object:  Table [dbo].[SOLICITUDESADOPCION]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUDESADOPCION](
	[Id] [int] NOT NULL,
	[IdAdoptante] [int] NOT NULL,
	[IdMascota] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[ExperienciaPrevia] [bit] NULL,
	[TipoVivienda] [nvarchar](100) NULL,
	[OtrosAnimales] [bit] NULL,
	[Recursos] [nvarchar](255) NULL,
	[TiempoEnCasa] [nvarchar](255) NULL,
	[FechaSolicitud] [datetime] NULL,
	[FechaRespuesta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MascotasAdoptadas]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_MascotasAdoptadas]
AS
SELECT 
    m.Id,
    m.Nombre,
    m.Especie,
    DATEDIFF(MONTH, m.FechaNacimiento, GETDATE()) AS Edad,
    m.Tamano,
    m.Sexo,
    m.Foto,
    s.IdAdoptante,
    s.FechaRespuesta AS FechaAdopcion
FROM
    MASCOTAS m
    INNER JOIN SOLICITUDESADOPCION s ON m.Id = s.IdMascota
WHERE
    s.Estado = 'Aprobada'
GO
/****** Object:  Table [dbo].[HISTORIASEXITO]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIASEXITO](
	[Id] [int] NOT NULL,
	[IdAdoptante] [int] NOT NULL,
	[IdMascota] [int] NOT NULL,
	[Titulo] [nvarchar](255) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Foto] [nvarchar](255) NULL,
	[FechaPublicacion] [datetime] NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIKESHISTORIAS]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIKESHISTORIAS](
	[Id] [int] NOT NULL,
	[IdHistoria] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[TipoReaccion] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJES]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJES](
	[Id] [int] NOT NULL,
	[IdEmisor] [int] NOT NULL,
	[IdReceptor] [int] NOT NULL,
	[Contenido] [text] NOT NULL,
	[Fecha] [datetime] NULL,
	[Leido] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICACIONES]    Script Date: 27/04/2025 14:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACIONES](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Mensaje] [nvarchar](255) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Fecha] [datetime] NULL,
	[Leido] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADOPTANTES] ([Id], [IdUsuario], [Nombre], [TipoVivienda], [TieneJardin], [OtrosAnimales], [RecursosDisponibles], [TiempoEnCasa]) VALUES (1, 1, N'Juan Pérez', N'Casa', 1, 1, N'["Compromiso emocional"]', N'4-8 horas')
INSERT [dbo].[ADOPTANTES] ([Id], [IdUsuario], [Nombre], [TipoVivienda], [TieneJardin], [OtrosAnimales], [RecursosDisponibles], [TiempoEnCasa]) VALUES (2, 2, N'María López', N'Departamento', 0, 0, N'["Tiempo parcial"]', N'4-8 horas')
INSERT [dbo].[ADOPTANTES] ([Id], [IdUsuario], [Nombre], [TipoVivienda], [TieneJardin], [OtrosAnimales], [RecursosDisponibles], [TiempoEnCasa]) VALUES (3, 3, N'Carlos Gómez', N'Casa', 1, 1, N'["Espacio amplio"]', N'4-8 horas')
GO
INSERT [dbo].[FAVORITOS] ([Id], [IdAdoptante], [IdMascota], [FechaAgregado]) VALUES (1, 1, 1, CAST(N'2025-04-27T12:22:51.573' AS DateTime))
INSERT [dbo].[FAVORITOS] ([Id], [IdAdoptante], [IdMascota], [FechaAgregado]) VALUES (2, 2, 2, CAST(N'2025-04-27T12:22:51.573' AS DateTime))
INSERT [dbo].[FAVORITOS] ([Id], [IdAdoptante], [IdMascota], [FechaAgregado]) VALUES (3, 3, 3, CAST(N'2025-04-27T12:22:51.573' AS DateTime))
GO
INSERT [dbo].[HISTORIASEXITO] ([Id], [IdAdoptante], [IdMascota], [Titulo], [Descripcion], [Foto], [FechaPublicacion], [Estado]) VALUES (1, 1, 1, N'Max encontró un hogar', N'Después de meses en el refugio, Max fue adoptado por Juan.', N'dueno3.jpg', CAST(N'2025-04-27T12:22:51.580' AS DateTime), N'Aprobada')
INSERT [dbo].[HISTORIASEXITO] ([Id], [IdAdoptante], [IdMascota], [Titulo], [Descripcion], [Foto], [FechaPublicacion], [Estado]) VALUES (2, 2, 2, N'Luna es feliz en su nueva casa', N'María adoptó a Luna y la cuida con mucho amor.', N'dueno2.jpg', CAST(N'2025-04-27T12:22:51.580' AS DateTime), N'Aprobada')
INSERT [dbo].[HISTORIASEXITO] ([Id], [IdAdoptante], [IdMascota], [Titulo], [Descripcion], [Foto], [FechaPublicacion], [Estado]) VALUES (3, 3, 3, N'Rocky disfruta de su nueva familia', N'Aunque inicialmente fue rechazado, Rocky encontró un hogar.', N'dueno1.jpg', CAST(N'2025-04-27T12:22:51.580' AS DateTime), N'Aprobada')
GO
INSERT [dbo].[LIKESHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [TipoReaccion], [Fecha]) VALUES (1, 1, 1, N'MeGusta', CAST(N'2025-04-27T12:22:51.583' AS DateTime))
INSERT [dbo].[LIKESHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [TipoReaccion], [Fecha]) VALUES (2, 1, 2, N'MeEncanta', CAST(N'2025-04-27T12:22:51.583' AS DateTime))
INSERT [dbo].[LIKESHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [TipoReaccion], [Fecha]) VALUES (3, 2, 3, N'Inspirador', CAST(N'2025-04-27T12:22:51.583' AS DateTime))
GO
INSERT [dbo].[MASCOTAS] ([Id], [Nombre], [Especie], [FechaNacimiento], [Tamano], [Sexo], [Castrado], [Vacunado], [Desparasitado], [Sano], [Microchip], [CompatibleConNinos], [CompatibleConAdultos], [CompatibleConOtrosAnimales], [Personalidad], [Descripcion], [Estado], [Latitud], [Longitud], [IdRefugio], [Foto], [Vistas], [FechaRegistro]) VALUES (2, N'Luna', N'Perro', CAST(N'2019-08-20' AS Date), N'Pequeño', N'Hembra', 1, 1, 1, 1, 1, 1, 1, 1, N'Tranquila, Cariñosa', N'Perra rescatada de la calle', N'Adoptado', 41.3851, 2.1734, 1, N'perro2.jpg', 8, CAST(N'2025-04-27T12:22:51.553' AS DateTime))
INSERT [dbo].[MASCOTAS] ([Id], [Nombre], [Especie], [FechaNacimiento], [Tamano], [Sexo], [Castrado], [Vacunado], [Desparasitado], [Sano], [Microchip], [CompatibleConNinos], [CompatibleConAdultos], [CompatibleConOtrosAnimales], [Personalidad], [Descripcion], [Estado], [Latitud], [Longitud], [IdRefugio], [Foto], [Vistas], [FechaRegistro]) VALUES (3, N'Rocky', N'Perro', CAST(N'2021-01-10' AS Date), N'Grande', N'Macho', 1, 1, 1, 1, 1, 0, 1, 1, N'Enérgico, Protector', N'Necesita espacio amplio', N'Disponible', 39.4699, -0.3763, 2, N'perro3.jpg', 5, CAST(N'2025-04-27T12:22:51.553' AS DateTime))
GO
INSERT [dbo].[MENSAJES] ([Id], [IdEmisor], [IdReceptor], [Contenido], [Fecha], [Leido]) VALUES (1, 1, 4, N'Hola, estoy interesado en adoptar a Max.', CAST(N'2025-04-27T12:22:51.620' AS DateTime), 1)
INSERT [dbo].[MENSAJES] ([Id], [IdEmisor], [IdReceptor], [Contenido], [Fecha], [Leido]) VALUES (2, 4, 1, N'¡Claro! Podemos agendar una visita.', CAST(N'2025-04-27T12:22:51.620' AS DateTime), 0)
GO
INSERT [dbo].[NOTIFICACIONES] ([Id], [IdUsuario], [Mensaje], [Tipo], [Url], [Fecha], [Leido]) VALUES (1, 6, N'¡Felicidades! Tu solicitud para adoptar a Mila ha sido aprobada.', N'Aprobación', N'/Adoptante/DetallesMascota?idmascota=6', CAST(N'2025-04-27T12:22:51.590' AS DateTime), 0)
GO
INSERT [dbo].[PERFIL_USUARIO] ([Id], [IdUsuario], [FotoPerfil], [Descripcion]) VALUES (1, 1, N'foto_juan.jpg', N'Soy un amante de los animales, busco adoptar un perro o gato.')
INSERT [dbo].[PERFIL_USUARIO] ([Id], [IdUsuario], [FotoPerfil], [Descripcion]) VALUES (2, 2, N'foto_maria.jpg', N'Me encanta cuidar a los animales y busco un compañero peludo.')
INSERT [dbo].[PERFIL_USUARIO] ([Id], [IdUsuario], [FotoPerfil], [Descripcion]) VALUES (3, 3, N'foto_carlos.jpg', N'Tengo experiencia con animales, quiero adoptar un gato.')
GO
INSERT [dbo].[REFUGIOS] ([Id], [IdUsuario], [NombreRefugio], [ContactoRefugio], [CantidadAnimales], [CapacidadMaxima], [Latitud], [Longitud]) VALUES (1, 4, N'Refugio Vida', N'642630675', 19, 50, 40.416775, -3.70379)
INSERT [dbo].[REFUGIOS] ([Id], [IdUsuario], [NombreRefugio], [ContactoRefugio], [CantidadAnimales], [CapacidadMaxima], [Latitud], [Longitud]) VALUES (2, 5, N'Hogar Animal', N'640241325', 11, 60, 41.385064, 2.173404)
GO
INSERT [dbo].[SOLICITUDESADOPCION] ([Id], [IdAdoptante], [IdMascota], [Estado], [ExperienciaPrevia], [TipoVivienda], [OtrosAnimales], [Recursos], [TiempoEnCasa], [FechaSolicitud], [FechaRespuesta]) VALUES (1, 1, 1, N'Pendiente', 1, N'Casa', 1, N'["Compromiso emocional"]', N'4-8 horas', CAST(N'2025-04-27T12:22:51.577' AS DateTime), NULL)
INSERT [dbo].[SOLICITUDESADOPCION] ([Id], [IdAdoptante], [IdMascota], [Estado], [ExperienciaPrevia], [TipoVivienda], [OtrosAnimales], [Recursos], [TiempoEnCasa], [FechaSolicitud], [FechaRespuesta]) VALUES (2, 2, 2, N'Aprobada', 1, N'Departamento', 0, N'["Tiempo parcial"]', N'4-8 horas', CAST(N'2025-04-27T12:22:51.577' AS DateTime), CAST(N'2024-03-25T17:30:00.000' AS DateTime))
INSERT [dbo].[SOLICITUDESADOPCION] ([Id], [IdAdoptante], [IdMascota], [Estado], [ExperienciaPrevia], [TipoVivienda], [OtrosAnimales], [Recursos], [TiempoEnCasa], [FechaSolicitud], [FechaRespuesta]) VALUES (3, 3, 3, N'Rechazada', 0, N'Casa', 1, N'["Espacio amplio"]', N'4-8 horas', CAST(N'2025-04-27T12:22:51.577' AS DateTime), NULL)
GO
INSERT [dbo].[USUARIOS] ([Id], [NombreUsuario], [Email], [ContrasenaLimpia], [ContrasenaEncriptada], [Salt], [TipoUsuario], [FechaRegistro]) VALUES (1, N'juanperez', N'juan@example.com', N'123', 0x5688636BA1D36F898A327189B6AF0731AF8F9C46C52B627001A7CF8226808F8D26026B5387C73EAA87A5E7213168C78A287728E0AA3B76E11EA19595038EA8A9, N'S5C6mZA1vdO+c/3tarND6Rl0bBYIvwRA3tJZFzSayLs=', N'Adoptante', CAST(N'2025-04-27T12:22:51.527' AS DateTime))
INSERT [dbo].[USUARIOS] ([Id], [NombreUsuario], [Email], [ContrasenaLimpia], [ContrasenaEncriptada], [Salt], [TipoUsuario], [FechaRegistro]) VALUES (2, N'maria123', N'maria@example.com', N'321', 0x536659CF5AB46E9CE4E7AD57A4F60096BEB8B7889088C3441552F4EEEA0B2C844670AA3AC64487096D5A95E7D69939F8D32C6527DD7963FC6F5FDB443FA5660B, N'n0qcuDcOqDxBI/25hnHWk3nmWHkEp0RnBispdRkQHqw=', N'Adoptante', CAST(N'2025-04-27T12:22:51.527' AS DateTime))
INSERT [dbo].[USUARIOS] ([Id], [NombreUsuario], [Email], [ContrasenaLimpia], [ContrasenaEncriptada], [Salt], [TipoUsuario], [FechaRegistro]) VALUES (3, N'carlos789', N'carlos@example.com', N'098', 0x2CFB89CF614BD21996FC781A764BBA0E6537E43DB47F5CC706158302BB5B7DBE18F5DB1A40BD8C84D811880E7CBC4789CE3F5778E676973B687ECDEAA0162167, N'0fpKvyG4kAhAJKw2y6yaCHhdZrLgzYqyLBJ0ZrDQq3A=', N'Adoptante', CAST(N'2025-04-27T12:22:51.527' AS DateTime))
GO
/****** Object:  Index [UQ__ADOPTANT__5B65BF96AB0DD750]    Script Date: 27/04/2025 14:27:41 ******/
ALTER TABLE [dbo].[ADOPTANTES] ADD UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__FAVORITO__8D6F94AFC1C647A5]    Script Date: 27/04/2025 14:27:41 ******/
ALTER TABLE [dbo].[FAVORITOS] ADD UNIQUE NONCLUSTERED 
(
	[IdAdoptante] ASC,
	[IdMascota] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LIKESHIS__3CB1D438CFEFC60F]    Script Date: 27/04/2025 14:27:41 ******/
ALTER TABLE [dbo].[LIKESHISTORIAS] ADD UNIQUE NONCLUSTERED 
(
	[IdHistoria] ASC,
	[IdUsuario] ASC,
	[TipoReaccion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PERFIL_U__5B65BF9635C3272F]    Script Date: 27/04/2025 14:27:41 ******/
ALTER TABLE [dbo].[PERFIL_USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__REFUGIOS__5B65BF966CD06A3F]    Script Date: 27/04/2025 14:27:41 ******/
ALTER TABLE [dbo].[REFUGIOS] ADD UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__6B0F5AE07ED465DC]    Script Date: 27/04/2025 14:27:41 ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__A9D1053414166BB8]    Script Date: 27/04/2025 14:27:41 ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADOPTANTES] ADD  DEFAULT ((0)) FOR [TieneJardin]
GO
ALTER TABLE [dbo].[ADOPTANTES] ADD  DEFAULT ((0)) FOR [OtrosAnimales]
GO
ALTER TABLE [dbo].[FAVORITOS] ADD  DEFAULT (getdate()) FOR [FechaAgregado]
GO
ALTER TABLE [dbo].[HISTORIASEXITO] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[HISTORIASEXITO] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[LIKESHISTORIAS] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Castrado]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Vacunado]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Desparasitado]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((1)) FOR [Sano]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Microchip]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [CompatibleConNinos]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [CompatibleConAdultos]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [CompatibleConOtrosAnimales]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Vistas]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[MENSAJES] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[MENSAJES] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[NOTIFICACIONES] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[NOTIFICACIONES] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ADOPTANTES]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD FOREIGN KEY([IdAdoptante])
REFERENCES [dbo].[ADOPTANTES] ([Id])
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD FOREIGN KEY([IdMascota])
REFERENCES [dbo].[MASCOTAS] ([Id])
GO
ALTER TABLE [dbo].[HISTORIASEXITO]  WITH CHECK ADD FOREIGN KEY([IdAdoptante])
REFERENCES [dbo].[ADOPTANTES] ([Id])
GO
ALTER TABLE [dbo].[HISTORIASEXITO]  WITH CHECK ADD FOREIGN KEY([IdMascota])
REFERENCES [dbo].[MASCOTAS] ([Id])
GO
ALTER TABLE [dbo].[LIKESHISTORIAS]  WITH CHECK ADD FOREIGN KEY([IdHistoria])
REFERENCES [dbo].[HISTORIASEXITO] ([Id])
GO
ALTER TABLE [dbo].[LIKESHISTORIAS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD FOREIGN KEY([IdRefugio])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD FOREIGN KEY([IdEmisor])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD FOREIGN KEY([IdReceptor])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[NOTIFICACIONES]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[PERFIL_USUARIO]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[REFUGIOS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION]  WITH CHECK ADD FOREIGN KEY([IdAdoptante])
REFERENCES [dbo].[ADOPTANTES] ([Id])
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION]  WITH CHECK ADD FOREIGN KEY([IdMascota])
REFERENCES [dbo].[MASCOTAS] ([Id])
GO
ALTER TABLE [dbo].[HISTORIASEXITO]  WITH CHECK ADD CHECK  (([Estado]='Rechazada' OR [Estado]='Aprobada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[LIKESHISTORIAS]  WITH CHECK ADD CHECK  (([TipoReaccion]='Asombroso' OR [TipoReaccion]='Solidario' OR [TipoReaccion]='Inspirador' OR [TipoReaccion]='MeEncanta' OR [TipoReaccion]='MeGusta'))
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD CHECK  (([Estado]='Adoptado' OR [Estado]='Disponible'))
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD CHECK  (([Sexo]='Hembra' OR [Sexo]='Macho'))
GO
ALTER TABLE [dbo].[NOTIFICACIONES]  WITH CHECK ADD CHECK  (([Tipo]='Sistema' OR [Tipo]='Mensaje' OR [Tipo]='Aprobación' OR [Tipo]='Solicitud'))
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION]  WITH CHECK ADD CHECK  (([Estado]='Rechazada' OR [Estado]='Aprobada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD CHECK  (([TipoUsuario]='Refugio' OR [TipoUsuario]='Adoptante'))
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENERMASCOTASADOPTADAS]    Script Date: 27/04/2025 14:27:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_OBTENERMASCOTASADOPTADAS]
    (@idadoptante int)
AS
    SELECT * FROM V_MascotasAdoptadas
    WHERE IdAdoptante = @idadoptante
    ORDER BY FechaAdopcion DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENERMASCOTASFAVORITAS]    Script Date: 27/04/2025 14:27:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[SP_OBTENERMASCOTASFAVORITAS]
 (@idadoptante int)
 as
	select * from V_MascotasFavoritas
	where IdAdoptante = @idadoptante
	order by FechaAgregado desc
GO
/****** Object:  StoredProcedure [dbo].[SP_PERFILADOPTANTE]    Script Date: 27/04/2025 14:27:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_PERFILADOPTANTE]
(@idusuario int)
as
	select * from V_AdoptantePerfil
	where IdUsuario = @idusuario;
GO
/****** Object:  StoredProcedure [dbo].[SP_PERFILREFUGIO]    Script Date: 27/04/2025 14:27:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_PERFILREFUGIO]
(@idusuario int)
as
	select * from V_RefugioPerfil
	where IdUsuario = @idusuario;
GO
